/*******************STYLE DES SECTIONS*****************/

header {
    background-image: url("img/fond.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    padding-bottom: 10em;
    opacity: 1.0;
    text-align: center;
}

#introduction {
    background-image: url("img/fond1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    padding-bottom: 10em;
    opacity: 1.0;
    text-align: center;
}

#bibliotheque {
    background-image: url("img/b1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    opacity: 0.8;
    text-align: center;
}

#b2 {
    background-image: url("img/b2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    opacity: 0.8;
    text-align: center;
}

#b3 {
    background-image: url("img/b3.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    opacity: 0.8;
    text-align: center;
}

#b4 {
    background-image: url("img/b4.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    opacity: 0.8;
    text-align: center;
}

#RPG1 {
    background-image: url("img/RPG1.PNG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    text-align: center;
}

#RPG2 {
    background-image: url("img/RPG2.PNG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
    padding-bottom: 20em;
    text-align: center;
}


/*********************STYLE DES ECRITURES********************************/

h1 {
    font-size: 7em;
    color: aliceblue;
}

h2 {
    font-size: 5em;
    text-align: center;
}

h3 {
    font-size: 3em;
    text-align: center;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3em;
    color: black;
}